body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header > img{
    float:left;
}

nav{
    margin-top: 10px;
    float: right;
}

nav > a{
    float:left;
    margin-left: 10px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}

nav > a:first-of-type {
    margin-left:0;
}

main > div{
    width: 40%;
    float: left;
}

main h1{
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
}

main h2{
    margin:0px;
    font-size: 50px;
    letter-spacing: -2px;
}

main hr{
    width: 100px;
    float: left;
    height: 5px;
    background-color:#648;
    border-radius: 2px;
    border:none;
}

main p{
    color: #777;
    display: inline-block;
}

main > img{
    width: 50%;
    float: right;

}

div > div{
    margin-top:20px;
}

main a{
    text-decoration: none;
    background-color: #648;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    color: white;
    border:solid 2px #648;
    display: inline-block;
}

main a:last-child{
    background-color: white;
    color:#648;
}



footer, main, header{
    display: inline-block;
    margin-left: calc((100% - 800px) / 2) ;
    margin-right: calc((100% - 800px) / 2) ;
    width: 800px;
    margin-bottom: 30px;
}
footer{
    margin-top: 100px;
}

footer div{
    float:left;
}

footer div > a{
    float: left;
    text-decoration: none;
    color: silver;
    font-size: 20px;
}

footer div > a + a{
    margin-left: 15px;
}

footer div > a:hover{
    color: #648;
}

footer p{
    float:right;
    margin: 0px;
}