header{
    width: 800px;
    background-color: red;
    margin: auto;
    margin-bottom: 30px;
}

main{
    width: 800px;
    background-color: rgb(119, 0, 255);
    margin: auto;
    margin-bottom: 30px;
}

footer{
    width: 800px;
    background-color: rgb(238, 25, 174);
    margin: auto;
    margin-bottom: 30px;
}